.analizy__nav {
    padding: 2rem;
    width: 100%;
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
}

.analizy__title {
    font-size: 4.5rem;
    font-weight: 400;
    color: var(--bg-color);
}

.analizy__menu {
    color: var(--blue);
}

.analizy__menu:hover {
    color: var(--blue-hover);
}