.opinie__container {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
}

.opinie__container h2 {
    color: white;
    font-size: 2rem;
}

.opinie {
    width: 70%;
    height: fit-content;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
}

.opinie img {
    width: 200px;
    height: auto;
    margin: auto;
}

@media screen and (max-width: 1040px) {
    .opinie {
        width: 100%;
    }
}

@media screen and (max-width: 680px) {
    .opinie {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 520px) {
    .opinie {
        grid-template-columns: 1fr;
    }
}