.opinie__container {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;
}

.opinie__container h2 {
    color: white;
    font-size: 2rem;
}

.opinie {
    width: fit-content;
    min-height: fit-content;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.05);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: auto;
}

.opinie img {
    width: 100%;
    height: 100%;
}

.carousel {
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.carousel-inner {
    position: relative;
}

.carousel-item, .carousel-control-prev, .carousel-control-next {
    display: none;
}

.carousel-item.active {
    display: block;
    width: 300px;
    height: 500px;
    margin: auto;
}

@media screen and (max-width: 1050px) {
    .opinie {
        width: 100%;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 740px) {
   .opinie {
    grid-template-columns: 1fr;
   } 
}
